.header {
  background-color: yellowgreen;
}

.NavLink {
  font-weight: bold;
  font-size: 25px;
  color: mediumvioletred;
  text-shadow: 0px 0px 10px white;
}

.NavLinkMain {
  font-weight: bold;
  font-size: 50px;
  color: orangered;
  text-shadow: 0px 0px 10px white;
}
